.search-field {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 12px;
    border: 1px solid var(--bg-primary);
    border-radius: 8px;
    background-color: transparent;
    transition: border-color 0.2s;
    height: 40px;
    &:focus-within {
        border-color: var(--bg-primary);
    }

    input {
        padding: 8px 0;
        border: none;
        background-color: transparent;
        color: #ffff;
        font-size: 14px;

        &:focus {
            outline: none;
        }
    }
}
